/* App.css */

/* Style for the entire app */
.App {
  display: flex;
  flex-direction: column; /* Arrange content vertically */
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  min-height: 100vh; /* Make sure the content takes full viewport height */
  text-align: center; /* Center text */
  background-color: #ffece4; /* Background color for the entire app */
}

/* Style for the navigation bar */
nav {
  display: flex;
  justify-content: center; /* Center navigation links horizontally */
  align-items: center; /* Center navigation links vertically */
  background-color: #ffece4; /* Background color for the nav bar */
  padding: 15px; /* Add some padding */
}

/* Style for individual navigation links */
nav a {
  font-family: 'Futura', sans-serif; /* Use Futura font */
  color: #f23f0a; /* Text color */
  text-decoration: none; /* Remove underline from links */
  margin: 0 50px; /* Increase space between the links */
  font-size: 18px; /* Adjust the font size */
}

/* Optional hover effect for the navigation links */
nav a:hover {
  color: #ff5f2a; /* Change text color on hover */
}
